    <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>Order</h:head>
<body>

<table>
    <tr>
        <td>Name :</td>
        <td><h:inputText size = "10" value = "#{productController.name}" readonly="true" /></td>
    </tr>

    <tr>
        <td>Address :</td>
        <td><h:inputText size = "20" value = "#{productController.address}" readonly="true" /></td>
    </tr>

    <tr>
        <td>PhoneNumber :</td>
        <td><h:inputText size = "5" value = "#{productController.phoneNumber}" readonly="true" /></td>
    </tr>


</table>

<br/>
<h3>Cart Info</h3>
<h:form prependId="false">
    <table border="1" cellpadding="2" cellspacing="2">
        <tr>

            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
        <ui:repeat var="order" value="#{orderController.orders}">
            <tr>

                <td>#{order.product.name}</td>
                <td>#{order.product.price}</td>
                <td>#{order.quantity}</td>
                <td>#{order.product.price * order.quantity}</td>
            </tr>
        </ui:repeat>
        <tr>
            <td colspan="5" align="right">Total</td>
            <td>#{orderController.total()}</td>
        </tr>
    </table>


    <br></br>
    <h:commandLink value="Continue Shopping" action="#{productController.index()}"></h:commandLink>

</h:form>


</body>
</html>